.calendar__title{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2%;
}
.calendar__section{
    display: flex;
    justify-content: space-between;
}

.calendar__left{
    flex-basis: 28%;
}

.calendar__right{
    flex-basis: 70%;
}